* {
    font-family: Arial, Helvetica, sans-serif;
}


#maindiv {

    display: flex;
    flex: wrap;
    justify-content: space-between;
}

#cartdiv1 {
    width: 60%;
}

#cartdiv2 {
    width: 30%;
    text-align: center;
    margin-right: 100px;
}

#childdiv {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
}

#childdiv2 {
    width: 35%;
    flex: wrap;
    position: sticky;
    top: 0px;

}

#subtotaldiv {}

#deletebtn {
    padding: 10px;
    margin-top: 80px;
    margin-right: 40px;
    background-color: rgb(113, 37, 37);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: 0px;
}
#deletebtn:hover {
    border-bottom: 3px solid black;
    cursor: pointer;
}

#ratings {
    height: 70px;
    display: block;
}

#paymentdiv {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 400px;
    position: sticky;
    top: 50px;
}

/* checkoutbutton */
#Checkout {
    cursor: pointer;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(4, 60, 4);
    color: white;
    margin-top: 40px;
    width: 300px;
    height: 30px;
}

#Checkout:hover {
    background-color: rgb(4, 60, 4);
    color: white;
    border-bottom: 3px solid black;
}

.navbar {
    width: 100%;
    background-color: black;
    font-weight: bold;
}

.navbar-t {
    padding-top: 20px;
    justify-content: right;
    gap: 30px;
    display: flex;
    color: white;
    font-size: large;
    text-align: center;
    height: 26px;
}

.navbar-t>div:nth-child(1) a {
    text-decoration: none;
    color: white;
}

.navbar-t>div:nth-child(2) a {
    text-decoration: none;
    color: white;
}

.navbar-t>div:nth-child(3) a {
    text-decoration: none;
    color: white;
}

.navbar-t>div:nth-child(1) a:hover {
    text-decoration: underline;
}

.navbar-t>div:nth-child(2) a:hover {
    text-decoration: underline;
}

.navbar-t>div:nth-child(3) a:hover {
    text-decoration: underline;
}


.navbar-b {
    font-size: medium;
    display: flex;
    color: white;
    height: 120px;
    width: 100%;
}

.left>a img {
    padding-left: 10px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
}

.left>a {

    width: 10%;
}

.middle {
    width: 65%;
    gap: 25px;
    display: flex;
    align-items: center;
}

#middle>div a {
    text-decoration: none;
    color: white;
}

.logo a :hover {
    cursor: pointer;
}

.right>div>a img {
    height: 20px;
    width: 20px;
}

.right {
    gap: 40px;
    display: flex;
    color: white;
    width: 25%;
    align-items: center;
}

.right>div>input {
    border: none;
    height: 40px;
    text-align: center;
    margin-right: -1.5rem;
    align-items: center;
}

.search__button {
    border: none;
    background-color: white;
    align-items: center;
    margin-top: 5px;
    height: 45%;
    padding: 4px 0px;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.5em;
    width: 1.3em;
    fill: #0a0a0a;

}

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    width: 380px;
    transition: top 0ms ease-in-out 0ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
}


.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;

}

.popup .form .form-element {
    margin: 15px 0px;
}

.popup .form .form .form-element label {
    font-size: 14px;
    color: #222;

}


.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {


    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"] {
    margin-right: 5px;

}

.popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.popup .form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;

}

#customer {
    margin-right: 10px;
}

#customer a {
    text-decoration: none;
    color: white;
}

#customer a:hover {
    text-decoration: underline;
}

.top8 {
    padding-top: 80px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    display: flex;
    width: 100%;
    margin: auto;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    /* align-items: space-between; */
}

.top8a {
    margin-left: 10px;
    margin-right: 10px;
    width: 22%;
}

.top8>div:nth-child(3) button {
    margin-top: 30px;
}

.top8a>button:hover {
    border-bottom: 4px solid white;
    cursor: pointer;
}

.top8a>img {
    width: 70px;
    height: 70px;
}

.top8a>button {
    width: 200px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: white;
    border: 1px solid white;
    background-color: black;
}

.top8a>h1 {
    font-size: 30px;
    font-weight: bold;
}

.top8a p {
    line-height: 30px;
}

.top9 {
    padding-top: 80px;
    /* padding-left: 30px; */
    /* padding-right: 50px; */
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    margin: auto;
    justify-content: space-evenly;
}

.top9a {
    margin-left: 10px;
    margin-right: 10px;
    width: 22%;
    /* margin: auto; */
}

.top9a>h1 {
    font-size: 20px;
    font-weight: bold;
}

.top9a p {
    line-height: 25px;
}

.footer-icons {
    display: flex;
    align-items: center;
    margin-top: 8px;

}

.footer-icons a {
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook-icon {
    background-color: rgb(27, 120, 241);
    text-decoration: none;
}

.youtube-icon {
    background-color: rgb(241, 27, 27);
    text-decoration: none;
}

.twitter-icon {
    background-color: rgb(87, 146, 224);
    text-decoration: none;
}

.instagram-icon {
    background-color: rgb(241, 27, 173);
    text-decoration: none;
}

.facebook-icon:hover {
    color: rgb(27, 120, 241);
    background-color: white;
    cursor: pointer;

}

.youtube-icon:hover {
    color: rgb(241, 27, 27);
    background-color: white;
    cursor: pointer;
}

.twitter-icon:hover {
    color: rgb(87, 146, 224);
    background-color: white;
    cursor: pointer;

}

.instagram-icon:hover {
    color: rgb(241, 27, 173);
    background-color: white;
    cursor: pointer;
}

.fab {
    font-size: 20px;
}

.google>img {
    height: 80px;
    width: 140px;
}


@media screen and (max-width:1080px) {

    /* adjustment of cartdata and sum */
    #maindiv {
        display: block;
    }

    #cartdiv2 {
        width: 100%;
    }

    #cartdiv1 {
        width: 100%;

    }

    #Checkout {
        margin-left: 00px;
    }

    #button {
        display: block;
    }

    #subtotaldiv {
        width: 100%;
    }

    /* end */
}

@media screen and (max-width:468px) {
    #childdiv {
        display: block;
    }

    #childdiv1 {
        width: 100%;

    }

    #childdiv2 {
        width: 100%;
    }

    #productimage {
        width: 100%;

    }

    #deletebtn {
        margin-top: 20px;
    }
}