*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#create{
    text-align: center;
margin-bottom: 12px;    
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     
font-weight: 400;
}
#form{
    width: 40%;
    /* height: 700px; */
    border: 1px solid gainsboro;
    align-items: center;
    background-color: #ffffff;
    margin:auto;
}
#form0{
    width: 90%;
    height: 50px;
    margin: auto;
    padding-top:5%;
    
}
#form0>h3{
   font-weight:500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#form1{
    width:90%;
    height:80px;
    border-top: 1px solid #0e1111;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom:25px ;
    margin-top:2%;
    padding-top:10px;
}

#form1>div{
    width:90%;
    height:100%;
    /* border: 1px solid; */
    margin: auto;
}

#form1>div>h3{

    font-size: 15px;
    font-weight:500;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: #666666; */
}

h3>span{
    font-size:12px;
    color: red;
}
#form1>div>input{
    width:95%;
    height:40px;
    /* border: 1px solid; */
    margin-top: 10px;
}
#form1>div:nth-child(1){
    margin-right:20px ;
}

#form2{
    width:90%;
    height:auto;
    margin: auto;
}

#form2>h3{
    font-size: 15px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#form2>h3>span{
       /* color: red; */
}

#form2>div>span{
    font-size: 15px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: #666666; */
}
#form2>div{
    width:100%;
    height:30px ;
    /* border: 1px solid; */
    margin-bottom:5px;
}
#form2>input{
    width:100%;
    height:40px;
    /* border: 1px solid; */
    margin-bottom:25px;
    margin-top: 10px;
}

#password{
    margin-bottom:0px;
}

#password+p{
    margin-top:-25px;
    margin-bottom: 30px;
    /* background-color: #f1f1f1; */
    height: 40px;
    display: flex;
    align-items: center;
    /* color: #666666; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 15px;
}



#submit{
    margin-left:5%;
    padding: 8px 20px;
    font-size:15px;
    background-color: #0e1111;
    color: white;
    border:0px solid;
    margin-bottom:12px;
}


#submit:hover{
   
    background-color:aqua;
    color: black;
}