/* navbarcss */


/* navbarend */
/* navbarcss */


/* navbarend */
*{
    text-align: center;
}
#maindiv{
    width:80%;margin-left:60px;
   display:grid;
   
       grid-template-columns:repeat(4,1fr);
       gap: 20px;
       margin-bottom: 150px;
   
   }
   #child{
       border:1px solid rgb(222, 213, 213);
     
       box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
       
   }
   img{width:100%;}
   #favourites{
       margin-left:10px;
    
   }
   h4,p,button{
       margin-left:10px;
   }
   #child:hover{
       border:1px solid rgb(25, 24, 24);
   }
   /* sortportion */
   #sortdiv{
       display:flex;
       justify-content: space-between;
   }
   /* divpartinput(filterdiv) */
   #firstdiv{
   
     border:1px solid rgb(181, 179, 179);
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
       position:sticky;
       top:0px;
       width: 20%;height:650px;display:inline;
       margin-bottom: 150px;
   }
   /* filterheading */
   .filterheading{
    margin-top:80px;
    margin-left:20px;
   }
   select{
    margin-left:20px;
   }
   @media screen and (max-width:1080px) {
    .filterheading{
        margin-top:80px;
        margin-left:00px;
       }
       select{margin-left:00px;}
    
   }
   @media screen and (max-width:643px) {
       .inputspan{
        font-size:12px;
       }
       h4,h3{
           font-size:15px;
       }
       #maindiv{
           display:grid;
       
               grid-template-columns: repeat(2,1fr);
               gap: 20px;
           
           }
           
           .select{margin-left:00px;
        width:50px;
        
   }
    
   }
   
   
   
   @media screen and (max-width:360px) {
       .inputspan{
        font-size:12px;
       }
       h4,h3{
           font-size:15px;
       }
       #maindiv{
           display:grid;
         
               grid-template-columns: repeat(1,1fr);
               gap: 20px;
           
           }
   }

   *{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    width: 100%;
    background-color: black;
    font-weight: bold;
}

.navbar-t {
    padding-top: 20px;
    justify-content: right;
    gap: 30px;
    display: flex;
    color: white;
    font-size: large;
    text-align: center;
    height: 26px;
}

.navbar-t>div:nth-child(1) a {
    text-decoration: none;
    color: white;
}

.navbar-t>div:nth-child(2) a {
    text-decoration: none;
    color: white;
}

.navbar-t>div:nth-child(3) a {
    text-decoration: none;
    color: white;
}

.navbar-t>div:nth-child(1) a:hover {
    text-decoration: underline;
}

.navbar-t>div:nth-child(2) a:hover {
    text-decoration: underline;
}

.navbar-t>div:nth-child(3) a:hover {
    text-decoration: underline;
}


.navbar-b {
    font-size: small;
    display: flex;
    color: white;
    height: 120px;
    width: 100%;
}

.left>a img {
    padding-left: 10px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
}

.left>a {

    width: 10%;
}

.middle {
    width: 65%;
    gap: 25px;
    display: flex;
    align-items: center;
}

#middle>div a {
    text-decoration: none;
    color: white;
}
.logo a :hover{
    cursor: pointer;
}

.right>div>a img {
    height: 20px;
    width: 20px;
}

.right {
    gap: 40px;
    display: flex;
    color: white;
    width: 25%;
    align-items: center;
     }

.right>div>input {
    border: none;
    height: 40px;
    text-align: center;
    margin-right: -2rem;
    align-items: center;
}

.search__button {
    border: none;
    background-color: white;
    align-items: center;
    margin-top: 5px;
    height: 45%;
    padding: 4px 0px;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.0em;
    width: 1.3em;
    fill: #0a0a0a;

}

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    width: 380px;
    transition: top 0ms ease-in-out 0ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
}


.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;

}

.popup .form .form-element {
    margin: 15px 0px;
}

.popup .form .form .form-element label {
    font-size: 14px;
    color: #222;

}


.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {


    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"] {
    margin-right: 5px;

}

.popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.popup .form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;

}
#customer{
    margin-right: 10px;
}
#customer a {
    text-decoration: none;
    color: white;
}

#customer a:hover {
    text-decoration: underline;
}
.top8 {
    padding-top: 80px;
    /* margin-top: 80px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    display: flex;
    width: 100%;
    margin: auto;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    /* align-items: space-between; */
}

.top8a {
    margin-left: 10px;
    margin-right: 10px;
    width: 22%;
}
.top8>div:nth-child(3) button{
    margin-top: 30px;
}
.top8a>button:hover{
    border-bottom: 4px solid white;
    cursor: pointer;
}
.top8a>img{
    width: 70px;
    height: 70px;
}
.top8a>button {
    width: 200px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: white;
    border: 1px solid white;
    background-color: black;
}

.top8a>h1 {
    font-size: 30px;
    font-weight: bold;
}
.top8a p{
    line-height: 30px;
}
.top9{
    padding-top: 80px;
    /* padding-left: 30px; */
    /* padding-right: 50px; */
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    margin: auto;
    justify-content: space-evenly;
}
.top9a {
    margin-left: 10px;
    margin-right: 10px;
    width: 22%;
    /* margin: auto; */
}
.top9a>h1 {
    font-size: 20px;
    font-weight: bold;
}
.top9a p{
    line-height: 25px;
}
.footer-icons {
    display: flex;
    align-items: center;
    margin-top:8px;
  
  }
  .footer-icons a{
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .facebook-icon{
    background-color: rgb(27, 120, 241);
    text-decoration: none;
  } 
  .youtube-icon{
    background-color: rgb(241, 27, 27);
    text-decoration: none;
  }
   .twitter-icon{
    background-color: rgb(87, 146, 224);
    text-decoration: none;
   } 
   .instagram-icon{
    background-color: rgb(241, 27, 173);
    text-decoration: none;
   }
   .facebook-icon:hover{
    color: rgb(27, 120, 241);
    background-color: white;
    cursor: pointer;
    
  } 
  .youtube-icon:hover{
    color: rgb(241, 27, 27);
    background-color: white;
    cursor: pointer;
  }
  .twitter-icon:hover{
    color: rgb(87, 146, 224);
    background-color: white;
    cursor: pointer;
   
   } 
   .instagram-icon:hover{
    color: rgb(241, 27, 173);
    background-color: white;
    cursor: pointer;
   }
  
  .fab {
    font-size: 20px;
  }
.google>img{
        height: 80px;
        width: 140px;
}